header{
    background-image: url(../images/con-su.png);
    height: 20px;
}
body{
    background-image: url(../images/epi.gif);
    image
}


div p{
    font-family: fantasy; 
    color: aqua;
    font-size: 15px;
}

h2{
    font-family: monospace;
}

p{
    font-size: 30px
}
